body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #F2DOD3;
}

header {
    color: rgb(255, 255, 255);
    margin-left: 33%;
    margin-top: 10%;
}

a {
    text-decoration: none;

}

.yes_button {
    margin-left: 50%;;
}
.buttons {
    font-family: inherit;
    background-color: aqua ;
    border-radius: 10px;
    border: none;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.buttons:active {
    transform: scale(0.9);
}

.buttons:hover {
    background-color: aquamarine;
}


#mybutton {
    position: absolute;

}
